@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap");
:root {
  --white: #fff;
  --red: #9D2017;
  --black: #000;
  --gray: #eee;
  --dark-gray: #222;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inria Serif;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

header {
  position: absolute;
  width: 100%;
  border-bottom: 2px solid var(--white);
}
header nav {
  width: 90%;
  margin-left: 5%;
  display: flex;
  height: 135px;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header nav ul img {
  width: 60px;
  margin: 50px;
}
@media screen and (max-width: 800px) {
  header nav ul img {
    margin: 20px;
  }
}

.container-top {
  background-image: url("../img/bg-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  max-height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
}
.container-top h1 {
  font-size: 8rem;
  font-weight: 700;
}
.container-top h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

.container-se {
  display: flex;
}
@media screen and (max-width: 800px) {
  .container-se {
    display: block;
  }
}
.container-se .img-sm {
  width: 50vw;
}
@media screen and (max-width: 800px) {
  .container-se .img-sm {
    width: 100vw;
  }
}
.container-se .img-sm img {
  width: 100%;
}
.container-se .text-sm {
  width: 50vw;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .container-se .text-sm {
    width: 100vw;
  }
}
.container-se .text-sm h2 {
  text-align: center;
  color: var(--red);
  font-size: 3rem;
  margin: 5%;
}
.container-se .text-sm p {
  width: 80%;
  margin: 10%;
  font-size: 1.25rem;
  text-align: justify;
  color: var(--dark-gray);
}
@media screen and (max-width: 800px) {
  .container-se .text-sm p {
    font-size: 1rem;
    width: 90%;
    margin: 5%;
    margin-top: 0;
  }
}
.container-se .text-sm button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
  border-radius: 20px;
  background: var(--red);
  font-size: 2rem;
  color: var(--white);
  border: 2px solid var(--dark-gray);
}
@media screen and (max-width: 800px) {
  .container-se .text-sm button {
    margin-bottom: 10%;
  }
}

.sobrenos {
  background-image: url("../img/bg-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.sobrenos h1 {
  color: var(--white);
  font-size: 4rem;
}
.sobrenos p {
  width: 60%;
  font-size: 1.25rem;
  text-align: justify;
  color: var(--white);
}
@media screen and (max-width: 800px) {
  .sobrenos p {
    font-size: 1rem;
    width: 90%;
    margin: 5%;
  }
}

.horarios {
  min-height: 300px;
}
.horarios > h1 {
  text-align: center;
  color: var(--red);
  font-size: 4rem;
  margin: 30px;
}
@media screen and (max-width: 800px) {
  .horarios > h1 {
    margin: 15px;
  }
}
.horarios .col-horarios {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 800px) {
  .horarios .col-horarios {
    flex-direction: column;
  }
}
.horarios .col-horarios div {
  width: 30%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .horarios .col-horarios div {
    width: 80%;
    margin: 5%;
  }
}
.horarios .col-horarios div h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
  .horarios .col-horarios div h1 {
    margin-bottom: 15px;
  }
}
.horarios .col-horarios div p {
  font-size: 2rem;
  font-weight: bold;
}

.redes {
  background-image: url("../img/bg-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;
}
@media screen and (max-width: 800px) {
  .redes {
    flex-direction: column;
  }
}
.redes div {
  margin: 5%;
  text-align: center;
  color: var(--white);
  font-size: 1.25rem;
}

footer {
  height: 150px;
  width: 100%;
  color: var(--white);
  background: var(--red);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */